<a href="https://colab.research.google.com/github/socheata537/colab-homework/blob/main/Bayes_Classification_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = {
    "Refund": ["Yes","No","No","Yes","No","No","Yes","No","No","No"],
    "MaritalStatus": ["Single","Married","Single","Married","Divorced","Married","Divorced","Single","Married","Single"],
    "TaxableIncome": [125,100,70,120,95,60,220,85,75,90],
    "Evade": ["No","No","No","No","Yes","No","No","Yes","No","Yes"]
}

df = pd.DataFrame(data)
df

  Refund MaritalStatus  TaxableIncome Evade
0    Yes        Single            125    No
1     No       Married            100    No
2     No        Single             70    No
3    Yes       Married            120    No
4     No      Divorced             95   Yes
5     No       Married             60    No
6    Yes      Divorced            220    No
7     No        Single             85   Yes
8     No       Married             75    No
9     No        Single             90   Yes

In [ ]:
X = {
    "Refund": "No",
    "MaritalStatus": "Single",
    "TaxableIncome": 98
}
prior = df["Evade"].value_counts(normalize=True)
prior

Evade
No     0.7
Yes    0.3
Name: proportion, dtype: float64

In [ ]:
def conditional_prob(feature, value, target):
    subset = df[df["Evade"] == target]
    return len(subset[subset[feature] == value]) / len(subset)


p_refund_yes = conditional_prob("Refund", "No", "Yes")
p_refund_no = conditional_prob("Refund", "No", "No")

print(p_refund_yes, p_refund_no)

p_marital_yes = conditional_prob("MaritalStatus", "Single", "Yes")
p_marital_no = conditional_prob("MaritalStatus", "Single", "No")

print(p_marital_yes, p_marital_no)

1.0 0.5714285714285714
0.6666666666666666 0.2857142857142857

In [ ]:
def gaussian_prob(x, mean, std):
    return (1 / (np.sqrt(2 * np.pi) * std)) * np.exp(-((x - mean) ** 2) / (2 * std ** 2))

    yes_income = df.loc[df["Evade"] == "Yes", "TaxableIncome"]
    no_income  = df.loc[df["Evade"] == "No",  "TaxableIncome"]
mean_yes, std_yes = yes_income.mean(), yes_income.std()
mean_no,  std_no  = no_income.mean(),  no_income.std()

mean_yes, std_yes, mean_no, std_no

p_income_yes = gaussian_prob(X["TaxableIncome"], mean_yes, std_yes)
p_income_no  = gaussian_prob(X["TaxableIncome"], mean_no, std_no)

p_income_yes, p_income_no

posterior_yes = prior["Yes"] * p_refund_yes * p_marital_yes * p_income_yes
posterior_no = prior["No"] * p_refund_no * p_marital_no * p_income_no

posterior_yes, posterior_no

if posterior_yes > posterior_no:
    print("Object X is classified as: Evade = YES")
else:
    print("Object X is classified as: Evade = NO")

Object X is classified as: Evade = YES